@charset "UTF-8";

footer{
  background:$std-blue;
  position:fixed;
  bottom:0;
  width:$hundred;
  min-height:3rem;
  text-align:center;
  color:$std-white;
  font-size:1.8rem;
  font-weight: 200;
  line-height: 3rem;
}
