@charset "UTF-8";

footer{
  background:$std-blue;
  position:fixed;
  bottom:0;
  width:$hundred;
  min-height:3rem;
  height:auto;
  text-align:center;
  color:$std-white;
  font-size:2rem;
  font-weight: 200;


}
