@charset "UTF-8";
.legend {
  display:block;
  width:90%;
  padding:44rem 0 0 0;
  margin:0 auto;

  ul {
    list-style:none;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;

    li{
      list-style:none;
      cursor: pointer;
      display:block;
      overflow:hidden;
      width:11rem;
      height:10rem;
      margin:1rem;
      border:0.1rem solid $std-blue2;

      &.disabled{
        @include disabled;
        &[data-title]:hover::before{
          display:none;
        }
      }
      &[data-title] {
        position: relative;
        cursor: help;
      }

      &[data-title]:hover::before {
        content: attr(data-title);
        position: absolute;
        top: 0;
        display:block;
        padding:0.5rem;
        line-height:1.5rem;
        width:91%;
        height:90%;
        background:$std-opacity-black;
        color: #fff;
        font-size: 1.2rem;
        word-break: break-word;
      }
    }

  }
  @media (map-get($rd-types, sm)){

    padding:0;
    ul{
      width: 91%;
      margin: 0 auto;
    }
  }
  @media (map-get($rd-types, md)){
    width:40%;
    ul{
      width: 90%;
      margin: 0 auto;
    }
  }
  @media (map-get($rd-types, lg)){
    width:44rem;
  }
}

#l01{@include svg(sprite, 0 center);}
#l02{@include svg(sprite, -14rem center);}
#l03{@include svg(sprite, -28rem center);}
#l04{@include svg(sprite, -42rem center);}
#l05{@include svg(sprite, -56.3rem center);}
#l06{@include svg(sprite, -70rem center);}
#l07{@include svg(sprite, -84.4rem center);}
#l08{@include svg(sprite, -98rem center);}
#l09{@include svg(sprite, -112.2rem center);}
